body{
	background-color: #232323;
	margin: 0;
}

.square{
	width: 30%;
	background: #800080;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 10%;
	transition: background 0.5s;
	/*browser support*/
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
}

#container{
	margin: 10px auto;
	max-width: 500px;
}

h1{
	text-align: center;
	font-family: arial;
	line-height: 1.1;
	background: #4682b4;
	color: #fff;
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;
	padding: 5px 0;
	font-size: 3.2vw;
}

#colordisplay{
	font-size: 1.2em;
}

#message{
	text-align: center;
	display: inline-block;
	width: 20%;
	color: #4682b4;
	text-transform: uppercase;
	font-weight: 700;
	font-family: arial;
	font-size: 1.7vw;
}

#stripe{
	background: #fff;
	height: 30px;
	text-align: center;
	color: #000;
}
.selected{
	color: #fff;
	background: #4682b4;
}
button{
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: #4682b4;
	font-size: 1.7vw;
	transition: all 0.5s;
	/*browser support*/
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	outline: none;
}

button:hover{
	color: #fff;
	background: #4682b4;
}