body {
	background-color: #232323;
	margin: 0;
	font-family: sans-serif;
}

.square {
	width: 30%;
	background: #800080;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 10%;
	transition: background 0.5s;
	/*browser support*/
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
}

#container {
	margin: 10px auto;
	max-width: 500px;
}

h1 {
	text-align: center;
	line-height: 1.1;
	background: #4682b4;
	color: #fff;
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;
	padding: 5px 0;
	font-size: 3.2vw;
}

#colordisplay {
	font-size: 1.2em;
}

#message {
	text-align: center;
	display: inline-block;
	width: 15%;
	color: #4682b4;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.7vw;
}

#stripe {
	background: #fff;
	height: 30px;
	text-align: center;
	color: #000;
}
.selected {
	color: #fff;
	background: #4682b4;
}
button {
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: #4682b4;
	font-size: 1.7vw;
	transition: all 0.5s;
	/*browser support*/
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	outline: none;
}

button:hover {
	color: #fff;
	background: #4682b4;
}

.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto; /* Enable scroll if needed */

	background-color: rgba(0, 0, 0, 0.4); /*Opacity */
}

/* Modal Content */
.modal-content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	width: 75%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
	from {
		top: -300px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}

@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}

/* The Close Button */
.close {
	color: white;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.modal-header {
	padding: 2px 16px;
	background-color: #4682b4;
	color: white;
}

.modal-body {
	padding: 2px 16px;
}
